.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.redes {
  margin-right: 0.8em;
}
#APlogo {
  width: 150px;
}
img {
  width: 35px;
}
.btn {
  border-width: medium;
}
.container {
  flex-direction: row;
  align-items: center;
}
.redes img {
  margin: 0.2em;
}
