<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11"></div>
  <ul>
    <li>
      <h2>Curso 1</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, rerum. Adipisci animi quibusdam, accusamus
        neque sequi rem, modi voluptatibus, repellat voluptate quo corrupti reprehenderit vitae ratione aperiam harum
        esse cumque.</p>
    </li>
    <li>
      <h2>Curso 2</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, rerum. Adipisci animi quibusdam, accusamus
        neque sequi rem, modi voluptatibus, repellat voluptate quo corrupti reprehenderit vitae ratione aperiam harum
        esse cumque.</p>
    </li>
    <li>
      <h2>Curso 3</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, rerum. Adipisci animi quibusdam, accusamus
        neque sequi rem, modi voluptatibus, repellat voluptate quo corrupti reprehenderit vitae ratione aperiam harum
        esse cumque.</p>
    </li>
  </ul>
</div>
