<img src="../../../assets/mediobanner.png">
<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11"></div>
  <ul>
    <li>
      <h2>Kiosco La Terminal</h2>
      <p>- Atención al cliente y Administración</p>
      <p>Julio 2016 - Agosto 2017</p>
    </li>
    <li>
      <h2>Fundación Animales Sin Nombre</h2>
      <p>- Administración, cuidado y manejo de mascotas</p>
      <p>Enero 2018 - Noviembre 2019
      </p>
    </li>
    <li>
      <h2>Hotel Canino Cristobal
      </h2>
      <p>- Encargada, administración, manejo de redes</p>
      <p>Diciembre 2019 - Febrero 2020</p>
    </li>
    <li>
      <h2>Centro de Zoonosis Villa Parque Siquiman</h2>
      <p>- Asistente de quirofano, cuidado y manejo de mascotas
      </p>
      <p>Marzo 2020 - Actualidad 2022</p>
    </li>
  </ul>
</div>
