<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoperfil.png" class="img-fluid">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <br>
    <p id="nombre">{{persona.nombre}}</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <br>
      <h1>Sobre mi</h1>
      <p>Hola, soy Mel, tengo 25 años, me considero una persona compañera, creativa, autodidacta, madre de dos 🐶 y
        tres 🐱.
        La programación siempre me atrajo pero nuestros caminos llevaron un tiempo separados, dedique varios años de mi
        vida a rescatar animales hasta que decidí dar el
        primer paso e introducirme a este maravilloso mundo IT, ahora me encuentro estudiando la Tec. Superior en
        Desarrollo Web y Apps Digitales, luego de haber
        finalizado la formación de Argentina Programa en Programador Web Full-Stack Jr.</p>
    </span>
  </div>
</div>
