<div class="row">
  <div class="container">
    <div class="logos">
      <img src="../../../assets/APLogo.png" id="APlogo">
    </div>
    <div class="redes">
      <div>
        <a href="https://instagram.com/melgaray_04"><img src="../../../assets/instagram.png" id="insta"></a>
        <a href="https://github.com/MelGaray04"><img src="../../../assets/github.png" id="github"></a>
        <button type="buton" class="btn btn-outline-light">Ingreso</button>
      </div>
    </div>
  </div>
</div>
