<div class="row">
  <h1>Proyectos</h1>
  <div class="container">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h2>Portfolio</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque culpa fugiat, rem itaque impedit numquam
        maiores quia suscipit nulla dolorem non sunt accusamus eveniet? Velit debitis obcaecati quod nesciunt
        consectetur!</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/proyectoP.png" class="img-fluid img-proyecto">
    </div>
  </div>
</div>
